@import "03_variables.css";

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: var(--header-height) 0 100px 0;
    /*padding: 0 1rem;*/
    transition: .5s;
    background-color: var(--2nd-background);
}

.content--block {
    margin-top: 100px;
    /*margin-right: 30px;*/
}

/*.dashboard--panel, .settings--panel {*/
/*    margin-top: 150px;*/
/*}*/

a {
    text-decoration: none;
}

/*================================================*/
/*===           PILLS NAVIGATION              ====*/
/*================================================*/

.nav-pills .selector-pill-btn.active {
    background-color: var(--accent);
    font-size: 12px;
    border: none;
}

.nav-pills .nav-link {
    color: var(--dark);
    font-family: var(--regular-font);
    font-size: 12px;
    border: none;
}