{% extends 'form.html' %}

{% block content %}
    <form action="" method="POST" class="custom-form">
        {% csrf_token %}

        {% include 'app_logo.html' %}

        <div class="form-title text-center mb-5">
            <h1>Log in to your residential.</h1>
            <p>Not a residential manager yet?
                <br>
                Start managing your own <a href="{% url 'residential:register' %}">here.</a></p>
        </div>

        <div class="row field-row">
            <div class="field label col-md-12"><label for=""></label>Username</div>
            <div class="field input col-md-12">
                <input type="text" name="username" id="">
            </div>
        </div>

        <div class="row field-row">
            <div class="field label col-md-12"><label for=""></label>Password</div>
            <div class="field input col-md-12">
                <input type="password" name="password">
            </div>
        </div>

        <button type="submit" class="col-md-12 btn create-btn">Log In &rarr;</button>


    </form>
{% endblock content %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{##}
{#</head>#}
{#<body>#}
{##}
{#<form action="" method="POST">#}
{#    {% csrf_token %}#}
{##}
{#    <input type="text" name="username" placeholder="Username...">#}
{#    <input type="password" name="password" placeholder="Password...">#}
{#    <button type="submit">Login</button>#}
{##}
{#</form>#}
{##}
{#</body>#}
{#</html>#}