{% extends 'form.html' %}

{% block content %}

    <form action="" method="POST" class="custom-form">
        {% csrf_token %}

        {% include 'app_logo.html' %}

        <div class="form-title text-center mb-5">
            <h1>Sign In.</h1>
            <p>or <a href="{% url 'residential:login' %}">login here</a> with your already created account.</p>
        </div>
    
        <div class="row field-row">
            <div class="field label col-md-12"><label for=""></label>First Name</div>
            <div class="field input col-md-12">{{ form.first_name }}</div>
        </div>
        <div class="row field-row">
            <div class="field label col-md-12"><label for=""></label>Last Name</div>
            <div class="field input col-md-12">{{ form.last_name }}</div>
        </div>
        <div class="row field-row">
            <div class="field label col-md-12"><label for=""></label>Username</div>
            <div class="field input col-md-12">{{ form.username }}</div>
        </div>
        <div class="row field-row">
            <div class="field label col-md-12"><label for=""></label>Email Address</div>
            <div class="field input col-md-12">{{ form.email }}</div>
        </div>
        <div class="row field-row">
            <div class="field label col-md-12"><label for=""></label>Role</div>
            <div class="field input col-md-12">{{ form.groups }}</div>
        </div>
        <div class="row field-row">
            <div class="field label col-md-12"><label for=""></label>Password</div>
            <div class="field input col-md-12">{{ form.password1 }}</div>
        </div>
        <div class="row field-row">
            <div class="field label col-md-12"><label for=""></label>Confirm Password</div>
            <div class="field input col-md-12">{{ form.password2 }}</div>
        </div>
        <button type="submit" class="col-md-12 btn create-btn">Create account &rarr;</button>
    </form>

{% endblock content %}