{% load static %}

<!--<table class="table common-utils-table table-borderless text-left mt-5 px-2">-->
<table class="table general-table table-borderless text-left mt-5 px-2">

    <thead class="general-table_head">
        <tr>
            <th class="ps-5">Apartment</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Number of persons</th>

            <th>Hot water supply</th>
            <th>Gas power supply</th>
            <th>Heating power supply</th>

            <th>Supply status</th>
        </tr>
    </thead>

    <tbody class="general-table-body">
        <tr class="general-table-row">
            <td class="ps-5">-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
                    <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
                    <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
                    <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                    <div class="col-10 p-0 m-0 status-name">Disabled</div>
                </div>
            </td>
            <td><a href="#" class="btn table-action-btn">Set &rarr;</a></td>
        </tr>
    </tbody>

</table>