{% load static %}

<table class="table table-borderless general-table apartment-util-status-table">

    <thead class="general-table-head">
        <tr class="general-table-title-row">
            <th class="table-title-col" colspan="8">Individual Utilities & Supplies Status</th>
        </tr>

        <tr>
            <th>Apartment</th>
            <th>Email</th>
            <th>Persons</th>
            <th>Cold water</th>
            <th>Gas power</th>
            <th>Heating power</th>
            <th>Hot water</th>
            <th></th>
        </tr>
    </thead>

    <tbody class="general-table-body">
        <tr class="general-table-row">
            <td>1</td>
            <td>tenant@gmail.com</td>
            <td>2</td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>tenant@gmail.com</td>
            <td>2</td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>tenant@gmail.com</td>
            <td>2</td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>tenant@gmail.com</td>
            <td>2</td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>tenant@gmail.com</td>
            <td>2</td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>tenant@gmail.com</td>
            <td>2</td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>tenant@gmail.com</td>
            <td>2</td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>tenant@gmail.com</td>
            <td>2</td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>tenant@gmail.com</td>
            <td>2</td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>tenant@gmail.com</td>
            <td>2</td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>tenant@gmail.com</td>
            <td>2</td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>tenant@gmail.com</td>
            <td>2</td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td class="util-branched">
                <div class="row p-0 m-0 align-items-center align-content-center">
{#                    {% if util_set.status %}#}
                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>
{#                    {% else %}#}
{#                        <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>#}
{#                    {% endif %}#}
                    <div class="col-10 p-0 m-0 status-name">Active</div>
                </div>
            </td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
    </tbody>

</table>