{% load static %}

<table class="table common-utils-table table-borderless text-left mt-5 px-2">

                    <thead class="common-utils-table-head">
                        <tr>
                            <th class="ps-5">Utility</th>
                            <th>Type</th>
                            <th>Provider</th>
                            <th>Contract Started</th>
                            <th>Contract Ending</th>
                            <th>Tax | Wage</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody class="common-utils-table-body">
                        <tr class="common-utility-row">
                            <th class="ps-5">Sanitation</th>
                            <th>Common</th>
                            <th>Company X</th>
                            <th>23-12-2019</th>
                            <th>23-12-2022</th>
                            <th>6.20</th>
                            <th><a href="#" class="btn util-edit-btn">Edit &rarr;</a></th>
                        </tr>
                        <tr class="common-utility-row">
                            <th class="ps-5">Maintenance</th>
                            <th>Common</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th><a href="#" class="btn util-edit-btn">Edit &rarr;</a></th>
                        </tr>
                        <tr class="common-utility-row">
                            <th class="ps-5">Cleaning Personnel</th>
                            <th>Common</th>
                            <th>CLeaning COMP</th>
                            <th>23-12-2016</th>
                            <th>23-12-2022</th>
                            <th>1200.00</th>
                            <th><a href="#" class="btn util-edit-btn">Edit &rarr;</a></th>
                        </tr>
                        <tr class="common-utility-row">
                            <th class="ps-5">Admin wages</th>
                            <th>Common</th>
                            <th>-</th>
                            <th>23-12-2019</th>
                            <th>23-12-2022</th>
                            <th>2300.00</th>
                            <th><a href="#" class="btn util-edit-btn">Edit &rarr;</a></th>
                        </tr>
                    </tbody>

                </table>