{% load static %}

<table class="table general-table table-borderless text-left mt-5 px-2">

                    <thead class="general-table_head">
                        <tr>
                            <th class="ps-5">Utility</th>
                            <th>Type</th>
                            <th>Provider</th>
                            <th>Contract Started</th>
                            <th>Contract Ending</th>
                            <th>Tax | Wage</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody class="general-table-body">
                    {% for util in utils %}
                        <tr class="general-table-row">
                            <td class="ps-5">{{ util.name}}</td>
                            <td>{{ util.util_type}}</td>
                            <td>{{ util.provider }}</td>
                            <td>{{ util.contract_starts}}</td>
                            <td>{{ util.contract_ends}}</td>
                            <td>{{ util.util_tax }}</td>
                            <td><a href="#" class="btn table-action-btn">Edit &rarr;</a></td>
                        </tr>
                    {% endfor %}

                </table>