{% load static %}

<div class="table-responsive">
    <table class="table table-borderless general-table dashboard-apartments-table">

        <thead class="general-table-head">
            <tr class="general-table-title-row">
                <th class="table-title-col" colspan="3">Current Month Expenses</th>
                <th class="table-button-col" colspan="1"><button class="btn general-button export-table-btn">Export CSV &darr;</button></th>
            </tr>
             <tr>
                <th>Apartment</th>
                <th>Number Of Persons</th>
                <th>Payment Amount</th>
                <th>Payment Status</th>
            </tr>
        </thead>

        <tbody class="general-table-body">

        {% for apartment in apartment_list %}
        <tr class="general-table-row">
            <td>{{ apartment.number_id }}</td>
            <td>{{ apartment.num_of_persons }}</td>
            <td></td>
            <td>{{ apartment.get_payment_status_display }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>