{% load static %}
<table class="table table-borderless general-table dashboard-apartments-table">

    <thead class="general-table-head">
    <tr class="general-table-title-row">
        <th class="table-title-col" colspan="3">Current Month Expenses</th>
        <th class="table-button-col" colspan="1"><button class="btn export-table-btn">Export CSV &darr;</button></th>
    </tr>
    <tr>
        <th>Apartment</th>
        <th>Number Of Persons</th>
        <th>Payment Amount</th>
        <th>Payment Status</th>
    </tr>
    </thead>

    <tbody class="general-table-body">
        <tr class="general-table-row">
            <td>1</td>
            <td>4</td>
            <td>180.00</td>
            <td>Paid</td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>4</td>
            <td>180.00</td>
            <td>Paid</td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>4</td>
            <td>180.00</td>
            <td>Paid</td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>4</td>
            <td>180.00</td>
            <td>Paid</td>
        </tr>
        <tr class="general-table-row">
            <td>1</td>
            <td>4</td>
            <td>180.00</td>
            <td>Paid</td>
        </tr>
    </tbody>

</table>
