{% load static %}

<table class="table table-borderless general-table individual-util-table">

    <thead class="general-table-head">
        <tr class="general-table-title-row">
            <th class="table-title-col" colspan="7">Residential Individual Utilities & Supplies</th>
        </tr>

        <tr>
            <th>Utility</th>
            <th>Type</th>
            <th>Provider</th>
            <th>Contract Started</th>
            <th>Contract Ending</th>
            <th>Index Tax</th>
            <th></th>
        </tr>
    </thead>

    <tbody class="general-table-body">
        <tr class="general-table-row">
            <td>Cold Water</td>
            <td>Individual</td>
            <td>City</td>
            <td>21/05/2020</td>
            <td>21/05/2024</td>
            <td>4.6</td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
        <tr class="general-table-row">
            <td>Cold Water</td>
            <td>Individual</td>
            <td>City</td>
            <td>21/05/2020</td>
            <td>21/05/2024</td>
            <td>4.6</td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
        <tr class="general-table-row">
            <td>Cold Water</td>
            <td>Individual</td>
            <td>City</td>
            <td>21/05/2020</td>
            <td>21/05/2024</td>
            <td>4.6</td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
        <tr class="general-table-row">
            <td>Cold Water</td>
            <td>Individual</td>
            <td>City</td>
            <td>21/05/2020</td>
            <td>21/05/2024</td>
            <td>4.6</td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
    </tbody>

</table>