{% load static %}



<table class="table table-borderless general-table mutual-utils-table">

    <thead class="general-table-head">
        <tr class="general-table-title-row">
            <th class="table-title-col" colspan="7">Residential Mutual utilities & Facilities</th>
            <th class="table-button-col"><a href="#" class="btn add-mutual-util-btn">Add new utility &rarr;</a></th>
        </tr>

        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Provider</th>
            <th>Contract Started</th>
            <th>Contract Ending</th>
            <th>Tax Type</th>
            <th>Tax | Wage</th>
            <th></th>
        </tr>

    </thead>

    <tbody class="general-table-body">
    <tr class="general-table-row">
        <th>Sanitation</th>
        <th>Mutual</th>
        <th>Private</th>
        <th>23/12/2020</th>
        <th>22/12/2024</th>
        <th>Per Person</th>
        <th>6.4</th>
        <th><a href="#" class="btn edit-util-btn">Edit &rarr;</a></th>
    </tr>
    <tr class="general-table-row">
        <th>Sanitation</th>
        <th>Mutual</th>
        <th>Private</th>
        <th>23/12/2020</th>
        <th>22/12/2024</th>
        <th>Per Person</th>
        <th>6.4</th>
        <th><a href="#" class="btn edit-util-btn">Edit &rarr;</a></th>
    </tr>
    <tr class="general-table-row">
        <th>Sanitation</th>
        <th>Mutual</th>
        <th>Private</th>
        <th>23/12/2020</th>
        <th>22/12/2024</th>
        <th>Per Person</th>
        <th>6.4</th>
        <th><a href="#" class="btn edit-util-btn">Edit &rarr;</a></th>
    </tr>
    <tr class="general-table-row">
        <th>Sanitation</th>
        <th>Mutual</th>
        <th>Private</th>
        <th>23/12/2020</th>
        <th>22/12/2024</th>
        <th>Per Person</th>
        <th>6.4</th>
        <th><a href="#" class="btn edit-util-btn">Edit &rarr;</a></th>
    </tr>
    <tr class="general-table-row">
        <th>Sanitation</th>
        <th>Mutual</th>
        <th>Private</th>
        <th>23/12/2020</th>
        <th>22/12/2024</th>
        <th>Per Person</th>
        <th>6.4</th>
        <th><a href="#" class="btn edit-util-btn">Edit &rarr;</a></th>
    </tr>


    </tbody>

</table>