{% load static %}

<table class="table common-utils-table table-borderless text-left mt-5 px-2">

                    <thead class="common-utils-table-head">
                        <tr>
                            <th class="ps-5">Utility</th>
                            <th>Type</th>
                            <th>Provider</th>
                            <th>Contract Started</th>
                            <th>Contract Ending</th>
                            <th>Tax/person</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody class="common-utils-table-body">
                        <tr class="common-utility-row">
                            <th class="ps-5">Cold Water</th>
                            <th>Independent</th>
                            <th>Company X</th>
                            <th>23-12-2019</th>
                            <th>23-12-2022</th>
                            <th>6.20</th>
                            <th><a href="#" class="btn util-edit-btn">Edit &rarr;</a></th>
                        </tr>
                        <tr class="common-utility-row">
                            <th class="ps-5">Hot Water</th>
                            <th>Independent</th>
                            <th>City</th>
                            <th>-</th>
                            <th>-</th>
                            <th>8.40</th>
                            <th><a href="#" class="btn util-edit-btn">Edit &rarr;</a></th>
                        </tr>
                        <tr class="common-utility-row">
                            <th class="ps-5">Gas power</th>
                            <th>Independent</th>
                            <th>City</th>
                            <th>-</th>
                            <th>-</th>
                            <th>3.20</th>
                            <th><a href="#" class="btn util-edit-btn">Edit &rarr;</a></th>
                        </tr>
                        <tr class="common-utility-row">
                            <th class="ps-5">Heating Power</th>
                            <th>Independent</th>
                            <th>City</th>
                            <th>-</th>
                            <th>-</th>
                            <th>7.20</th>
                            <th><a href="#" class="btn util-edit-btn">Edit &rarr;</a></th>
                        </tr>
                    </tbody>

                </table>