{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>CMS-Dashboard</title>
    <div class="container dashboard-panel py-4">

        <div class="row content-a my-4">

            <div class="col">
                <div class="card top-card card-left">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media row px-4">

                                <div class="col-4 align-self-center">
                                    <i class="las la-globe info-card-icon"></i>
                                </div>

                                <div class="col-8 media-body text-right info-card-text">
                                    <h3>String data</h3>
                                    <span>Address</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card top-card card-center">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media row px-4">

                                <div class="col-4 align-self-center">
                                    <i class="las la-tasks info-card-icon"></i>
                                </div>

                                <div class="col-8 media-body text-right info-card-text">
                                    <h3>Integer X</h3>
                                    <span>Occupied Apartments</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card top-card card-right">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media row px-4">

                                <div class="col-4 align-self-center">
                                    <i class="las la-building info-card-icon"></i>
                                </div>

                                <div class="col-8 media-body text-right info-card-text">
                                    <h3>Integer Y</h3>
                                    <span>Total Apartments</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row content-b mt-5">

            <div class="col-8">
                <table class="table general-table table-borderless">

                    <thead class="general-table_head">
                        <tr>
                            <th class="ps-5">Apartment</th>
                            <th>Number of persons</th>
                            <th>Payment amount</th>
                            <th>Payment status</th>
                        </tr>
                    </thead>

                    <tbody class="general-table-body">
                        <tr class="general-table-row">
                            <td class="ps-5">1</td>
                            <td>2</td>
                            <td>180.00</td>
                            <td>Paid</td>
                        </tr>
                        <tr class="general-table-row">
                            <td class="ps-5">1</td>
                            <td>2</td>
                            <td>180.00</td>
                            <td>Paid</td>
                        </tr>
                        <tr class="general-table-row">
                            <td class="ps-5">1</td>
                            <td>2</td>
                            <td>180.00</td>
                            <td>Paid</td>
                        </tr>
                        <tr class="general-table-row">
                            <td class="ps-5">1</td>
                            <td>2</td>
                            <td>180.00</td>
                            <td>Paid</td>
                        </tr>
                        <tr class="general-table-row">
                            <td class="ps-5">1</td>
                            <td>2</td>
                            <td>180.00</td>
                            <td>Paid</td>
                        </tr>
                        <tr class="general-table-row">
                            <td class="ps-5">1</td>
                            <td>2</td>
                            <td>180.00</td>
                            <td>Paid</td>
                        </tr>
                        <tr class="general-table-row">
                            <td class="ps-5">1</td>
                            <td>2</td>
                            <td>180.00</td>
                            <td>Paid</td>
                        </tr>
                        <tr class="general-table-row">
                            <td class="ps-5">1</td>
                            <td>2</td>
                            <td>180.00</td>
                            <td>Paid</td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>

      </div>
{% endblock content %}
