{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>CMS-Dashboard</title>
    <div class="container dashboard-panel py-4">

        <div class="row content-a my-4 align-content-center">

            <div class="col">
                <div class="card top-card card-left">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media row px-4">

                                <div class="col-4 align-self-center">
                                    <i class="las la-globe info-card-icon"></i>
                                </div>

                                <div class="col-8 media-body text-right info-card-text">
                                    <h3 class="address-card-text">{{ building.address }}</h3>
                                    <span>Address</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card top-card card-center">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media row px-4">

                                <div class="col-4 align-self-center">
                                    <i class="las la-tasks info-card-icon"></i>
                                </div>

                                <div class="col-8 media-body text-right info-card-text">
                                    <h3>{{ occupied }}</h3>
                                    <span>Occupied apartments</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card top-card card-right">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media row px-4">

                                <div class="col-4 align-self-center">
                                    <i class="las la-building info-card-icon"></i>
                                </div>

                                <div class="col-8 media-body text-right info-card-text">
                                    <h3>{{ apartments_all|length }}</h3>
                                    <span>Total apartments</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row content-b mt-5">

            <div class="col-8">
                <table class="table general-table table-borderless">

                    <thead class="general-table_head">
                        <tr>
                            <th class="ps-5">Apartment</th>
                            <th>Number of persons</th>
                            <th>Payment amount</th>
                            <th>Payment status</th>
                        </tr>
                    </thead>

                    <tbody class="general-table-body">

                        {% for apartment in apartments_all %}
                            <tr class="general-table-row">
                                <td class="ps-5">{{ apartment.id}}</td>
                                <td>{{ apartment.number_of_persons}}</td>
                                <td>{{ apartment.current_month_payment}}</td>
                                <td>{{ apartment.get_payment_status_display }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>

                </table>
            </div>

        </div>

      </div>
{% endblock content %}
