{% extends 'base.html' %}

{% block content %}

    <title>CMS - Payments</title>

    <div class="container py-5">

        <table class="table general-table table-borderless text-left">

            <thead class="general-table_head">
            <tr class="payment-table-row">
                <th>Apartment</th>
                <th>Phone</th>

                <th>Hot water status</th>
                <th>Gas power status</th>
                <th>Heating power status</th>

                <th>Cold water</th>
                <th>Hot water</th>
                <th>Gas power</th>
                <th>Heating power</th>

                <th>Total</th>

                <th>Debt</th>

                <th>Payment</th>
            </tr>
            </thead>

            <tbody class="general-table-body">
                <tr class="general-table-row">
                    <td class="text-center">1</td>
                    <td>0787726427</td>

                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>

                    <td>30.00</td>
                    <td>45.50</td>
                    <td>13.00</td>
                    <td>25.00</td>

                    <td>113.50</td>
                    <td>1513.50</td>

                    <td><a href="#" class="btn table-action-btn">Collect &rarr;</a></td>
                </tr>
                <tr class="general-table-row">
                    <td class="text-center">1</td>
                    <td>0787726427</td>

                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>

                    <td>30.00</td>
                    <td>45.50</td>
                    <td>13.00</td>
                    <td>25.00</td>

                    <td>113.50</td>
                    <td>1513.50</td>

                    <td><a href="#" class="btn table-action-btn">Collect &rarr;</a></td>
                </tr>
                <tr class="general-table-row">
                    <td class="text-center">1</td>
                    <td>0787726427</td>

                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>

                    <td>30.00</td>
                    <td>45.50</td>
                    <td>13.00</td>
                    <td>25.00</td>

                    <td>113.50</td>
                    <td>1513.50</td>

                    <td><a href="#" class="btn table-action-btn">Collect &rarr;</a></td>
                </tr>
                <tr class="general-table-row">
                    <td class="text-center">1</td>
                    <td>0787726427</td>

                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>

                    <td>30.00</td>
                    <td>45.50</td>
                    <td>13.00</td>
                    <td>25.00</td>

                    <td>113.50</td>
                    <td>1513.50</td>

                    <td><a href="#" class="btn table-action-btn">Collect &rarr;</a></td>
                </tr>
                <tr class="general-table-row">
                    <td class="text-center">1</td>
                    <td>0787726427</td>

                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>

                    <td>30.00</td>
                    <td>45.50</td>
                    <td>13.00</td>
                    <td>25.00</td>

                    <td>113.50</td>
                    <td>1513.50</td>

                    <td><a href="#" class="btn table-action-btn">Collect &rarr;</a></td>
                </tr>
                <tr class="general-table-row">
                    <td class="text-center">1</td>
                    <td>0787726427</td>

                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>

                    <td>30.00</td>
                    <td>45.50</td>
                    <td>13.00</td>
                    <td>25.00</td>

                    <td>113.50</td>
                    <td>1513.50</td>

                    <td><a href="#" class="btn table-action-btn">Collect &rarr;</a></td>
                </tr>
                <tr class="general-table-row">
                    <td class="text-center">1</td>
                    <td>0787726427</td>

                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>

                    <td>30.00</td>
                    <td>45.50</td>
                    <td>13.00</td>
                    <td>25.00</td>

                    <td>113.50</td>
                    <td>1513.50</td>

                    <td><a href="#" class="btn table-action-btn">Collect &rarr;</a></td>
                </tr>
                <tr class="general-table-row">
                    <td class="text-center">1</td>
                    <td>0787726427</td>

                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>

                    <td>30.00</td>
                    <td>45.50</td>
                    <td>13.00</td>
                    <td>25.00</td>

                    <td>113.50</td>
                    <td>1513.50</td>

                    <td><a href="#" class="btn table-action-btn">Collect &rarr;</a></td>
                </tr>
                <tr class="general-table-row">
                    <td class="text-center">1</td>
                    <td>0787726427</td>

                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>

                    <td>30.00</td>
                    <td>45.50</td>
                    <td>13.00</td>
                    <td>25.00</td>

                    <td>113.50</td>
                    <td>1513.50</td>

                    <td><a href="#" class="btn table-action-btn">Collect &rarr;</a></td>
                </tr>
                <tr class="general-table-row">
                    <td class="text-center">1</td>
                    <td>0787726427</td>

                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>

                    <td>30.00</td>
                    <td>45.50</td>
                    <td>13.00</td>
                    <td>25.00</td>

                    <td>113.50</td>
                    <td>1513.50</td>

                    <td><a href="#" class="btn table-action-btn">Collect &rarr;</a></td>
                </tr>
                <tr class="general-table-row">
                    <td class="text-center">1</td>
                    <td>0787726427</td>

                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>
                    <td class="">
                        <div class="row p-0 m-0">
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                            <div class="col-10 p-0 m-0 status-name">Active</div>
                        </div>
                    </td>

                    <td>30.00</td>
                    <td>45.50</td>
                    <td>13.00</td>
                    <td>25.00</td>

                    <td>113.50</td>
                    <td>1513.50</td>

                    <td><a href="#" class="btn table-action-btn">Collect &rarr;</a></td>
                </tr>
            </tbody>

        </table>

    </div>

{% endblock content %}