{% extends 'base.html' %}

{% block content %}
    <title>CMS - Settings</title>

    <div class="container-fluid settings-panel">

        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active selector-pill-btn"
                        id="pills-mutual-utils-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-mutual" type="button"
                        role="tab" aria-controls="pills-mutual"
                        aria-selected="true">
                    Mutual Utilities & Facilities
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link selector-pill-btn"
                        id="pills-power-supplies-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-supplies" type="button"
                        role="tab" aria-controls="pills-supplies"
                        aria-selected="false">
                    Power supply utilities
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link selector-pill-btn"
                        id="pills-apartments-status-tab"
                        data-bs-toggle="pill" data-bs-target="#pills-apartment-status"
                        type="button" role="tab" aria-controls="pills-apartment-status"
                        aria-selected="false">
                    Apartment supply status
                </button>
            </li>

        </ul>

        <div class="tab-content" id="pills-tabContent">
            <div class="table-tab tab-pane fade show active" id="pills-mutual" role="tabpanel" aria-labelledby="pills-common-utils-tab">
                {% include 'residential/tables/mutual_utils.html' %}
            </div>

            <div class="table-tab tab-pane fade" id="pills-supplies" role="tabpanel" aria-labelledby="pills-power-supplies-tab">
                {%  include 'residential/tables/individual_utils.html' %}
            </div>

            <div class="table-tab tab-pane fade" id="pills-apartment-status" role="tabpanel" aria-labelledby="pills-apartments-tab">
                {% include 'residential/tables/apartment_supply_status_list.html' %}
            </div>
        </div>
    </div>

{% endblock %}