@import "../00_design_system/03_variables.css";

.card {
    /*padding: 0 50px;*/
    border-radius: 10px;
    border: none;
    box-shadow: var(--shadow)
}

.card--icon {
    font-size: 32px;
}

.icon-container {
    border-radius: 10px;
    padding: 10px;
}