@import "../00_design_system/03_variables.css";


.table-content {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.general-table {
    border-collapse: separate;
    border-spacing: 1px 10px;
    table-layout: fixed;
}

.general-table-head {
    font-size: 9px;
    font-family: var(--medium-font);
    color: var(--dark);
}

.general-table-body {
    font-size: 12px;
    font-family: var(--regular-font);
    color: var(--dark);
}

.general-table-row {
    /*background-color: #F5F5F7;*/
    background-color: var(--2nd-background);
    vertical-align: middle;
    box-shadow: var(--shadow);
}

.table-title-col {
    font-size: 18px;
    font-family: var(--bold-font);
    color: var(--accent)
}