@import "../00_design_system/00_system_package.css";


.general-button {
    font-size: 11px;
    font-family: var(--medium-font);
}

/*               */

.general-table-btn, .profile-update-btn, .update-index-btn, .submit-index-btn,
.edit-util-btn, .export-table-btn, .add-mutual-util-btn, .register-res-btn {
    background-color: var(--accent);
    color: var(--light);
}

.submit-index-btn {
    background: lightseagreen;
}

.utility-icon {
    font-size: 18px;
}

.edit-icon-btn {
    color: var(--accent);
}

.delete-icon-btn {
    color: orangered;
}