@import "../00_design_system/00_system_package.css";

/*  Form page styles    */

.form-body-full {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.form-page {
    height: inherit;
}

.header-cta {
    height: 50px;
    justify-content: end;
    float: right;
}

.presentation-col {
    background: var(--dark-accent);
    position: fixed;
    height: 100%;
}

.form-col {
    margin-left: 33.3%;
}

.form-app-logo {
    color: var(--light-grey);
    font-size: 64px;
    background: var(--light);
    padding: 15px;
    border-radius: 16px;
}

.form-app-name {
    font-family: var(--black-font);
    font-size: 32px;
    color: var(--light);
}

.form-app-desc {
    font-family: var(--light-font);
    font-size: 16px;
    color: var(--light);
}

.auth-btn {
    font-family: var(--medium-font);
    font-size: 11px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    border: 2px solid var(--dark-accent);
    border-radius: 0;
    color: var(--dark-accent);
    transition: 0.5s;
}

.auth-btn:hover {
    background: var(--dark-accent);
    color: var(--light);
    transition: 0.5s;
}


/*  Form element styles     */
.form-container {
    width: 100%;
}

.custom-form {
    width: 60%;
    max-width: 60%;
}

.form-action-text {
    font-family: var(--bold-font);
    color: var(--dark);
}

.field-row {
    height: inherit;
    margin-bottom: 25px;
}

input, select, checkbox {
    width: 100%;
    height: 40px;
    border: 2px solid #ECEAEA;
    border-radius: 5px;
    font-size: 14px;
    color: var(--dark);
}

.elevator-status-field {
    border: none;
}

.label {
    font-family: var(--regular-font);
    font-size: 12px;
    color: var(--light-grey);
}

.input {
    font-family: var(--regular-font);
    font-size: 14px;
    color: var(--dark);
}