@import "../00_design_system/03_variables.css";

.card, .analytics-row, .cards-row, .table-row {
    height: 100%;
}

.table-row {
    padding: 0 15px;
}

.card-title {
    font-family: var(--regular-font);
    font-size: 12px;
    color: var(--dark);
}

.card-detail {
    font-family: var(--medium-font);
    font-size: 20px;
    color: var(--dark);
}

.left-container {
    background: #713BDB;
}

.center-container {
    background: lightseagreen;
}

.right-container {
    background: orangered;
}

.icon-container {
    color: white;
}

