@import "../00_design_system/03_variables.css";


.card-content h5{
    font-family: var(--bold-font);
}

.card-info{
    font-size: 11px;
    font-family: var(--medium-font);
}

.payments-icon {
    font-size: 24px;
    color: var(--accent);
}

.card-label {
    font-size: 11px;
    font-family: var(--medium-font);
    color: var(--dark-accent);
    text-transform: uppercase;
}

.negative {
    color: orangered;
}

.positive {
    color: lightseagreen;
}

.card-content {
    color: var(--dark);
    margin-top: 16px;
}