{% extends 'form.html' %}
{% block content %}

            <form action="" method="POST" class="residential-form custom-form">
                {% csrf_token %}

                {% include 'app_logo.html' %}

                <div class="form-title text-center mb-5">
                    <h1 class="title">Create your residential.</h1>
                </div>

                <div class="row field-row address-field-row mb-4">
                    <div class="field label address-label-field col-md-12"><label for="">Address</label></div>
                    <div class="field input address-input-field col-md-12">{{ form.address }}</div>
                </div>
                <div class="row field-row apartments-field-row mb-4">
                    <div class="field label apartments-label-field col-md-12"><label for="">Number of apartments</label></div>
                    <div class="field input apartments-input-field col-md-12">{{ form.apartments_capacity }}</div>
                </div>
                <div class="row field-row apartments-field-row mt-5">
                    <div class="col-md-12">
                        <button type="submit" class="col-md-12 btn create-btn">Create residential &rarr;</button>
                    </div>
                </div>
            </form>
{% endblock %}