{% extends 'form.html' %}

{% block content %}

    <form action="" method="POST" class="custom-form">
        {% csrf_token %}

        <!-- Render app logo & name -->
        {% include 'app_logo.html' %}

        <!-- Render form title -->
        <div class="form-title text-center mb-5">
            <h1 class="title">Update Utility.</h1>
        </div>

        <!-- Render form fields -->
        <div class="row field-row mb-4">
            <div class="field label col-md-12"><label for="">Utility Name</label></div>
            <div class="field input col-md-12">{{ form.name }}</div>
        </div>

        <div class="row field-row apartments-field-row mb-4">
            <div class="field label col-md-12"><label for="">Utility Provider</label></div>
            <div class="field input col-md-12">{{ form.provider }}</div>
        </div>

        <div class="row field-row apartments-field-row mb-4">
            <div class="field label col-md-12"><label for="">Contract Start</label></div>
            <div class="field input col-md-12">{{ form.contract_starts }}</div>
        </div>

        <div class="row field-row apartments-field-row mb-4">
            <div class="field label col-md-12"><label for="">Contract End</label></div>
            <div class="field input col-md-12">{{ form.contract_ends }}</div>
        </div>

        <div class="row field-row apartments-field-row mb-4">
            <div class="field label col-md-12"><label for="">Utility Tax/Wage</label></div>
            <div class="field input col-md-12">{{ form.tax_or_wage }}</div>
        </div>

        <div class="row field-row apartments-field-row mt-5">
            <div class="col-md-12">
                <button type="submit" class="col-md-12 btn create-btn">Update &rarr;</button>
            </div>
        </div>


    </form>

{% endblock %}