{% extends 'form.html' %}

{% block content %}
    <form action="" method="POST" class="custom-form">
        {% csrf_token %}
        {{ formset.management_form }}

        <!-- Render app logo & name -->
        {% include 'app_logo.html' %}

        <!-- Render form title -->
        <div class="form-title text-center mb-5">
            <h1 class="title">Update status.</h1>
        </div>

        <!-- Render form fields -->
        <table class="table general-table table-borderless">
                    <thead class="general-table_head">
                        <tr>
                            <th>Utility</th>
                            <th>Status</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody class="general-table-body">
                        {% for item, form in form_data %}
                            <tr class="general-table-row">
                                <td>{{ item }}</td>
                                <td>{{ form.status }}</td>
                                <td>{{ form.DELETE }}</td>
                                <td>{{ form.id }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>{{ persons_form }}</td>
                        </tr>
                </table>
            <button class="btn edit-util-btn" type="submit">Update &rarr;</button>
    </form>
{% endblock %}