{% extends 'form.html' %}


{% block content %}
<form action="" method="POST" class="custom-form">
    {% csrf_token %}

    <table class="table table-borderless general-table">
        <thead class="general-table-head">
            <tr class="general-table-title-copy">
                <th class="table-title-col" colspan="4">Update counter: {{ utility.util.name }}</th>
            </tr>

            <tr>
                <th>Current Index</th>
                <th>Last Index</th>
                <th>Difference</th>
                <th>New Index</th>
            </tr>
        </thead>

        <tbody class="general-table-body">
        {% for counter in counters %}

            {% if counter.id == utility.id %}
            <tr class="general-table-row">
                <td>{{ counter.util.name }}</td>
                <td>0</td>
                <td>0</td>
                {% for field in form %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>

            {% else %}
            <tr class="general-table-row">
                <td>{{ counter.util.name }}</td>
                <td>0</td>
                <td>0</td>
                <td></td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <button class="btn edit-util-btn" type="submit">Update &rarr;</button>

</form>
{% endblock content %}