@import "../design_system/00_design_system.css";

/*================================================*/
/*===           TOP SECTION: CARDS            ====*/
/*================================================*/
.card-info {
    background-color: white;
    padding: 0 50px;
    border-radius: 10px;
    box-shadow: var(--shadows)
}

.col-head-icon {
    text-align: right;
    font-size: 48px;
}

.icon-left {
    color: var(--accent);
}

.icon-center {
    color: darkred;
}

.icon-right {
    color: lightseagreen;
}

.row-body {
    padding-bottom: 20px;
}

/*================================================*/
/*===           SECOND SECTION: INFO TABLE    ====*/
/*================================================*/
.second-section {
    margin-top: 50px;
}



.card-title {
    text-transform: capitalize;
    font-size: 14px;
}