@import url("../settings.css");

/*================================================*/
/*===           PILLS NAVIGATION              ====*/
/*================================================*/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    box-shadow: none;
}

.nav-pills .selector-pill-btn.active {
    border-radius: 0;
    background-color: transparent;
    font-size: 12px;
    font-family: var(--regular-font);
    color: var(--text-color);
    border-bottom: 1px solid var(--main-accent) ;
    box-shadow: var(--custom-shadows);
}

.nav-pills .selector-pill-btn {
    color: var(--text-color);
    font-family: var(--thin-font);
    font-size: 12px;
}

.util-edit-btn {
    padding: 8px 12px;
    color: whitesmoke;
    font-weight: bold;
    background-color: var(--main-accent);
}

.util-edit-btn:hover {
    background-color: #6b4bf3;
    color: whitesmoke;
}

/* FEATURES TAB - EMPTY */

.test-warning {
    font-family: var(--medium-font);
    font-size: 32px;
    color: var(--text-color);
}

/* APARTMENTS TABLE STYLING */

.status-icon-active, .status-icon-disabled {
    font-size: 30px;
}

.status-icon-active {
    color: lightseagreen;
}

.status-icon-disabled {
    color: mediumvioletred;
}

.status-name {
    align-self: center;
}