@import "../design_system/system.css";

#sidebar-menu, .menu-list {
    height: 100%;
}

.sidebar {
    /*background-color: #262A33;*/
    background-color: var(--dark-accent);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--sidebar);
    z-index: 600;
}

.sidebar .active {
    /*background-color: #1D2027;*/
    background-color: #1D2027;
    color: var(--light);
    border-left: 4px solid white;
}

.position-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.nav-link {
    font-size: var(--sidebar-link);
    font-family: var(--font-regular);
    color: var(--light);
    padding: 25px 0;
}

.sidebar-menu-item {
    color: var(--light);
}

.menu-icon {
    font-size: 36px;
    text-align: center;
}

.tech-icon {
    color: var(--accent);
    font-size: 24px;
}

.menu-list {
    margin-top: 75%;
}

