@import "../design_system/system.css";


#top-bar-nav {
    background-color: var(--light);
    height: var(--topbar-height);
}

.navbar-brand {
    background-color: var(--accent);
    padding: 0;
    margin: 0;
    width: var(--sidebar);
    height: var(--topbar-height);
}

#logo {
    padding-left: 25px;
}

.app-logo {
    fill: var(--light);
}

.app-name {
    font-family: var(--font-bold);
    color: var(--light);
}

.badge-notification {
    color: var(--light);
    font-size: 10px;
}

.notification-icon {
    font-size: 24px;
    color: var(--accent);
}

.message {
    color: var(--dark);
}

.logged-username {
    color: var(--accent);
    font-family: var(--font-medium);
}