@import "../settings.css";


.table-action-btn {
    padding: 8px 12px;
    color: whitesmoke;
    font-weight: bold;
    font-family: var(--main-font);
    font-size: 9px;
    background-color: var(--main-accent);
}

.table-action-btn:hover {
    background-color: #6b4bf3;
    color: whitesmoke
}

.add-feature-btn {
    color: whitesmoke;
    background-color: var(--main-accent);
    font-family: var(--regular-font);
    font-size: 14px;
    padding: 15px 20px;
}

.add-feature-btn:hover {
    color: whitesmoke;
    background-color: #6b4bf3;
}

.logout-btn {
    background-color: whitesmoke;
    color: var(--text-color);
    font-size: 11px;
    font-family: var(--regular-font);
}