@import "../design_system/00_design_system.css";


.form-container {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.custom-form {
    width: 40%;
    background-color: white;
    padding: 64px;
}

.field-row {
    height: inherit;
    margin-bottom: 25px;
}

.title {
    font-family: var(--font-medium);
    font-size: 36px;
}


input, select {
    width: 100%;
    height: 40px;
    border: 2px solid #ECEAEA;
    border-radius: 5px;
    font-size: 14px;
    color: var(--dark);
}

.label {
    font-family: var(--font-regular);
    font-size: 14px;
    color: var(--dark);
}

.input {
    font-family: var(--font-regular);
    font-size: 14px;
    color: var(--dark);
}

.create-btn {
    background-color: var(--accent);
    color: whitesmoke;
    font-family: var(--font-regular);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 16px 0;
}

.util-creation-form {
    margin-top: calc(var(--topbar-height) + 50px);
}

.main-counters-form {
    width: 70% !important;
}