@import url("../settings.css");


.nav-pills .selector-pill-btn.active {
    border-radius: 0;
    background-color: transparent;
    font-size: 12px;
    font-family: var(--thin-font);
    color: var(--text-color);
    border-bottom: 1px solid var(--third-color);
}

.nav-pills .selector-pill-btn {
    color: var(--text-color);
    font-family: var(--thin-font);
    font-size: 12px;
}

.common-utils-table {
    border-collapse: separate;
    border-spacing: 0 8px;
}

.common-utils-table-head {
    font-size: 10px;
    font-family: var(--thin-font);
    color: var(--text-color);
}

.common-utils-table-body, .util-edit-btn {
    font-size: 12px;
    font-family: var(--thin-font);
    color: #929292;
}

.common-utility-row {
    background-color: #FFFFFF;
    vertical-align: middle;
    border-radius: 10px;
    /*background: #F5F5F5;*/
    box-shadow:  var(--custom-shadows);
}

.util-edit-btn {
    padding: 8px 12px;
    color: whitesmoke;
    font-weight: bold;
    background-color: var(--third-color);
}

.util-edit-btn:hover {
    background-color: #6b4bf3;
    color: whitesmoke;
}

.test-warning {
    font-family: var(--medium-font);
    font-size: 32px;
    color: var(--text-color);
}

.add-feature-btn {
    color: whitesmoke;
    background-color: var(--third-color);
    font-family: var(--regular-font);
    font-size: 14px;
    padding: 15px 20px;
}

.add-feature-btn:hover {
    color: whitesmoke;
    background-color: #6b4bf3;
}