{% load static %}

<!--<nav id="sidebarNav" class="collapse d-lg-block sidebar collapse">-->
<!--    <div class="position-sticky">-->
<!--        <div class="">-->

<!--            <a href="#" class="menu-link list-group-item list-group-item-action py-2" aria-current="true">-->
<!--                <i class="fas fa-tachometer-alt fa-fw me-3"></i>-->
<!--                <span>Main dashboard</span>-->
<!--            </a>-->
<!--            <a href="#" class="menu-link list-group-item list-group-item-action py-2" aria-current="true">-->
<!--                <i class="fas fa-tachometer-alt fa-fw me-3"></i>-->
<!--                <span>Main dashboard</span>-->
<!--            </a>-->
<!--            <a href="#" class="menu-link list-group-item list-group-item-action py-2" aria-current="true">-->
<!--                <i class="fas fa-tachometer-alt fa-fw me-3"></i>-->
<!--                <span>Main dashboard</span>-->
<!--            </a>-->
<!--            <a href="#" class="menu-link list-group-item list-group-item-action py-2" aria-current="true">-->
<!--                <i class="fas fa-tachometer-alt fa-fw me-3"></i>-->
<!--                <span>Main dashboard</span>-->
<!--            </a>-->

<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
    <div class="position-sticky">

        <div class="menu-list list-group list-group-flush">

            <div class="section-title">
                <h5>Menu</h5>
            </div>

            {% url 'building:dashboard' as url %}
            <a href="{{ url }}"
               class="nav-link list-group-item list-group-item-action py-2 {% if request.path == url %}active{% endif %}"
               aria-current="true">
                    <i class="las la-igloo me-3"></i>
                    <span>Dashboard</span>
            </a>

            {% url 'building:settings' as url %}
            <a href="{{ url }}"
               class="nav-link list-group-item list-group-item-action py-2 {% if request.path == url %}active{% endif %}">
                <i class="las la-sliders-h me-3"></i>
                <span>Settings</span>
            </a>

            {% url 'building:counters' as url %}
            <a href="{{ url }}"
               class="nav-link list-group-item list-group-item-action py-2 {% if request.path == url %}active{% endif %}">
                <i class="las la-wave-square me-3"></i>
                <span>Counters</span>
            </a>

            {% url 'building:payments' as url %}
            <a href="{{ url }}"
                class="nav-link list-group-item list-group-item-action py-2 {% if request.path == url %}active{% endif %}">
                    <i class="lab la-cc-mastercard me-3"></i>
                    <span>Payments</span>
            </a>

        </div>

        <div class="sidebar-footer">
             <div class="section-title">
                <h5>Powered by</h5>
                 <div class="powered-by-container mt-4">
                     <i class="tech-icon lab la-python me-2"></i>
                     <i class="tech-icon lab la-bootstrap me-2"></i>
                     <i class="tech-icon lab la-html5 me-2"></i>
                     <i class="tech-icon lab la-css3 me-2"></i>
                 </div>
            </div>
        </div>
    </div>
  </nav>