{% load static %}

<nav id="sidebar-menu" class="collapse d-lg-block sidebar collapse">
    <div class="menu-list list-group list-group-flush">

        <!--  Defined navbar menu links -->
        {% url 'residential:dashboard' as url %}
        <a href="{{ url }}"
           class="text-center nav-link list-group-item, list-group-item-action
                 {% if request.path == url %}active{% endif %}">
            <i class="menu-icon las la-igloo text-center"></i>
            <h6 class="sidebar-menu-item">Dashboard</h6>
        </a>

        {% url 'residential:residential-settings' as url%}
        <a href="{{ url }}" class="nav-link list-group-item, list-group-item-action text-center
                            {% if request.path == url %}active{% endif %}">
                <i class="menu-icon las la-sliders-h"></i>
            <h6 class="sidebar-menu-item">Settings</h6>
        </a>

        {% url 'residential:main_counters' as url %}
        <a href="{{ url }}" class="nav-link list-group-item, list-group-item-action text-center
                            {% if request.path == url %}active{% endif %}">
                <i class="menu-icon las la-wave-square"></i>
            <h6 class="sidebar-menu-item">Main Counters</h6>
        </a>

        {% url 'residential:apartments'  as url %}
            <a href="{{ url }}" class="nav-link list-group-item, list-group-item-action text-center
                                {% if request.path == url %}active{% endif %}">
                        <i class="menu-icon las la-door-closed"></i>
                <h6 class="sidebar-menu-item">Apartments</h6>
            </a>

        {% url 'residential:payments' as url %}
        <a href="{{ url }}" class="nav-link list-group-item, list-group-item-action text-center
                            {% if request.path == url %}active{% endif %}">
                    <i class="menu-icon lab la-cc-mastercard"></i>
            <h6 class="sidebar-menu-item">Payments</h6>
        </a>

    </div>
</nav>