{% load static %}

<nav class="nav--menu">

    <div>

        {#    App logo & name    #}
        <a href="#" class="app--logo">
            <i class='bx bxl-django'></i>
            <span class="nav--logo--name">Django CRM</span>
        </a>

        {#    Menu links    #}
        <div class="nav--links">

            <a href="#" class="nav--link active">
                <i class='bx bxs-dashboard link--icon'></i>
                <span class="nav--link--name">Dashboard</span>
            </a>

            <a href="#" class="nav--link">
                <i class='bx bxs-grid link--icon'></i>
                <span class="nav--link--name">Settings</span>
            </a>

            <a href="#" class="nav--link">
                <i class='bx bxs-door-open link--icon'></i>
                <span class="nav--link--name">Apartments</span>
            </a>

            <a href="#" class="nav--link">
                <i class='bx bxs-credit-card-front link--icon'></i>
                <span class="nav--link--name">Payments</span>
            </a>
        </div>

        {#    Log out button    #}
        <a href="#" class="nav--link">
            <i class='bx bx-log-out link--icon'></i>
            <span class="nav--link--name">Log Out</span>
        </a>

    </div>

</nav>