{% load static %}

<nav class="nav--menu">

    <div>

        {#    App logo & name    #}
        <a href="#" class="app--logo">
            <i class='bx bxl-django'></i>
            <span class="nav--logo--name">Django CRM</span>
        </a>

        {#    Menu links    #}
        <div class="nav--links">

            {% url 'building:admin_dashboard' as url %}
            <a href="{{ url }}" class="nav--link {% if request.path == url %}active{% endif %}">
                <i class='bx bxs-dashboard link--icon'></i>
                <span class="nav--link--name">Dashboard</span>
            </a>

            {% url 'building:admin_settings' as url %}
            <a href="{{ url }}" class="nav--link {% if request.path == url %}active{% endif %}">
                <i class='bx bx-slider link--icon'></i>
                <span class="nav--link--name">Settings</span>
            </a>

            {% url 'building:admin_apartments' as url %}
            <a href="{{ url }}" class="nav--link {% if request.path == url %}active{% endif %}">
                <i class='bx bxs-door-open link--icon'></i>
                <span class="nav--link--name">Apartments</span>
            </a>

            {% url 'building:admin_payments' as url %}
            <a href="{{ url }}" class="nav--link {% if request.path == url %}active{% endif %}">
                <i class='bx bxs-credit-card-front link--icon'></i>
                <span class="nav--link--name">Payments</span>
            </a>

            {% url 'building:admin_documents' as url %}
            <a href="{{ url }}" class="nav--link {% if request.path == url %}active{% endif %}">
                <i class='bx bx-library link--icon'></i>
                <span class="nav--link--name">Documents</span>
            </a>
        </div>

        {#    Log out button    #}
        <a href="#" class="nav--link">
            <i class='bx bx-log-out link--icon'></i>
            <span class="nav--link--name">Log Out</span>
        </a>

    </div>

</nav>