{% load static %}

<!--    Vertical menu toggle button     -->
<div class="menu--toggle--btn">
    <i class='bx bx-menu-alt-left' id="toggler-icon"></i>
</div>
<!--    end Vertical menu toggle button     -->


<!--    Links    -->
<ul class="navbar-nav ml-auto mr-3 d-flex flex-row horizontal--links">

    <!--    Notifications icon  -->
    <li class="nav--item mr-5" id="dropdown-notification">
        <a class="me-3 mr-lg-0">
            <i class='bx bxs-bell-ring notification-bell'></i>
        </a>
    </li>

    <!--  Welcome message for authenticated user -->
    <li class="nav--item user--message">
        <span class="welcome-msg">Welcome, </span>
        <span class="logged-username">Bogdan</span>
    </li>

    <!-- Avatar for auth user -->
    <li class="nav--item ml-3">
        <img src="../static/assets/avatar.png"
             class="rounded-circle" height="30" width="30" alt=""/>
    </li>

</ul>
        <!-- end links -->
