{% load static %}

<table class="table table-borderless general-table apartment-util-status-table">

    <thead class="general-table-head">
        <tr class="general-table-title-row">
            <th class="table-title-col" colspan="8">Individual Utilities & Supplies Status</th>
        </tr>

        <tr>
            <th>Apartment</th>
            <th>Email</th>
            <th>Persons</th>
            <th>Cold water</th>
            <th>Gas power</th>
            <th>Heating power</th>
            <th>Hot water</th>
            <th></th>
        </tr>
    </thead>

    <tbody class="general-table-body">
    {% for apartment in apartments %}
        <tr class="general-table-row">
            <td>{{ apartment.num_identifier }}</td>
            <td>{{ apartment.tenant.email }}</td>
            <td>{{ apartment.persons }}</td>

            {% for util in apartment.individualutil_set.all %}
                <td class="util-branched">
                    <div class="row p-0 m-0 align-items-center align-content-center">
                        {% if util.status %}
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                        {% else %}
                            <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>
                        {% endif %}
                        <div class="col-10 p-0 m-0 status-name">{{ util.get_status_display }}</div>
                    </div>
                </td>
            {% endfor %}
            <td><a href="{% url 'residential:update_status' apartment.pk %}" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
    {% endfor %}
    </tbody>

</table>