{% load static %}

<table class="table table-borderless general-table">

    <thead class="general-table-head">
        <tr class="general-table-title-row">
            <th class="table-title-col">Assign Tenant</th>
        </tr>

        <tr>
            <th>Apartment</th>
            <th>Persons</th>
            <th>Tenant Email</th>
            <th>Tenant Phone</th>
        </tr>
    </thead>

    <tbody class="general-table-body">
        {% for apartment in building.apartment_set.all %}
            <tr class="general-table-row">
                <td>{{ apartment.pk }}</td>
                <td>{{ apartment.persons }}</td>
                {% if apartment.tenant %}
                    <td>{{ apartment.tenant.email }}</td>
                    <td>{{ apartment.tenant.phone }}</td>
                    <td class="text-center"><a href="{% url 'residential:update-tenant' apartment.pk %}" class="btn tenant-btn update-tenant-btn">Update &rarr;</a></td>

                {% else %}
                    <td>Unavailable</td>
                    <td>Unavailable</td>
                    <td class="text-center"><a href="{% url 'residential:assign-tenant' apartment.pk %}" class="btn tenant-btn add-tenant-btn">Add &rarr;</a></td>

                {% endif %}
            </tr>
        {% endfor %}
    </tbody>

</table>