{% load static %}

<table class="table table-borderless general-table individual-util-table">

    <thead class="general-table-head">
        <tr class="general-table-title-row">
            <th class="table-title-col" colspan="7">Residential Individual Utilities & Supplies</th>
        </tr>

        <tr>
            <th>Utility</th>
            <th>Type</th>
            <th>Provider</th>
            <th>Contract Started</th>
            <th>Contract Ending</th>
            <th>Index Tax</th>
            <th></th>
        </tr>
    </thead>

    <tbody class="general-table-body">
    {% for supply in power_supplies %}
        <tr class="general-table-row">
            <td>{{ supply.name }}</td>
            <td>{{ supply.util_type }}</td>
            <td>{{ supply.provider }}</td>
            <td>{{ supply.contract_starts}}</td>
            <td>{{ supply.contract_ends}}</td>
            <td>{{ supply.tax_or_wage }}</td>
            <td><a href="#" class="btn edit-util-btn">Edit &rarr;</a></td>
        </tr>
    {% endfor %}
    </tbody>

</table>