{% load static %}

<table class="table table-borderless general-table">

    <thead class="general-table-head">
        <tr class="general-table-title-row">
            <th class="table-title-col" colspan="7">Monthly expenses payment gate</th>
        </tr>

        <tr>
            <th>Apartment</th>
            <th>Cold W. Payment</th>
            <th>Hot W. Payment</th>
            <th>Gas P. Payment</th>
            <th>Heating P. Payment</th>
            <th>Total Mutual Utils</th>
            <th>Total Payment</th>
            <th>Debt</th>
            <th></th>
        </tr>
    </thead>

    <tbody class="general-table-body">
    {% for apartment in building.apartment_set.all %}
        <tr class="general-table-row">
            <td>{{ apartment.pk }}</td>
            {% for i_util in apartment.individualutil_set.all %}
                <td>{{ i_util.monthly_payment }}</td>
            {% endfor %}
            <td>{{ apartment.get_total_mutual_utils }}</td>
            <td>{{ apartment.current_month_payment }}</td>
            <td>{{ apartment.debt }}</td>
            <td><a href="#" class="btn edit-util-btn">Collect &rarr;</a></td>
        </tr>
    {% endfor %}

    </tbody>

</table>