@font-face {
    font-family: "thin";
    src: url("../fonts/Poppins/Poppins-Thin.ttf");
}

@font-face {
    font-family: "light";
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: "medium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: "regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "semibold";
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "bold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}