{% load static %}

<div class="row">
            <div class="col-md-6">
                <form action="" method="post" class="counter-update-form mx-auto col-md-6">

            <div class="counter counter-fist">
                <div class="row form-header">
                    <div class="col-2 form-header-icon">
                        <i class="las la-tint"></i>
                    </div>
                    <div class="col-10 form-header-title">
                        <h5>Cold Water</h5>
                    </div>
                </div>
                    <div class="form-group row form-body">
                        <label for="inputEmail3" class="col-sm-12 col-form-label">New counter</label>

                        <div class="col-sm-8">
                            <input type="number" class="form-control col-form-input" id="inputEmail3" placeholder="">
                        </div>

                        <button class="update-counter-btn btn col-sm-4" type="submit">Update</button>
                    </div>
                <h5 class="form-total-count">Total: <span class="total-count-span">1584635653</span></h5>
            </div>
        </form>
            </div>
            <div class="col-md-6">
                <form action="" method="post" class="counter-update-form mx-auto col-md-6">

            <div class="counter counter-fist">
                <div class="row form-header">
                    <div class="col-2 form-header-icon">
                        <i class="las la-fire"></i>
                    </div>
                    <div class="col-10 form-header-title">
                        <h5>Hot Water</h5>
                    </div>
                </div>
                    <div class="form-group row form-body">
                        <label for="inputEmail3" class="col-sm-12 col-form-label">New counter</label>

                        <div class="col-sm-8">
                            <input type="number" class="form-control col-form-input" id="inputEmail3" placeholder="">
                        </div>

                        <button class="update-counter-btn btn col-sm-4" type="submit">Update</button>
                    </div>
                <h5 class="form-total-count">Total: <span class="total-count-span">1584635653</span></h5>
            </div>
        </form>
            </div>
        </div>

<div class="row mt-5">
            <div class="col-md-6">
                <form action="" method="post" class="counter-update-form mx-auto col-md-6">

            <div class="counter counter-fist">
                <div class="row form-header">
                    <div class="col-2 form-header-icon">
                        <i class="lab la-cloudversify"></i>
                    </div>
                    <div class="col-10 form-header-title">
                        <h5>Gas Power</h5>
                    </div>
                </div>
                    <div class="form-group row form-body">
                        <label for="inputEmail3" class="col-sm-12 col-form-label">New counter</label>

                        <div class="col-sm-8">
                            <input type="number" class="form-control col-form-input" id="inputEmail3" placeholder="">
                        </div>

                        <button class="update-counter-btn btn col-sm-4" type="submit">Update</button>
                    </div>
                <h5 class="form-total-count">Total: <span class="total-count-span">1584635653</span></h5>
            </div>
        </form>
            </div>
            <div class="col-md-6">
                <form action="" method="post" class="counter-update-form mx-auto col-md-6">

            <div class="counter counter-fist">
                <div class="row form-header">
                    <div class="col-2 form-header-icon">
                        <i class="las la-sun"></i>
                    </div>
                    <div class="col-10 form-header-title">
                        <h5>Heating Power</h5>
                    </div>
                </div>
                    <div class="form-group row form-body">
                        <label for="inputEmail3" class="col-sm-12 col-form-label">New counter</label>

                        <div class="col-sm-8">
                            <input type="number" class="form-control col-form-input" id="inputEmail3" placeholder="">
                        </div>

                        <button class="update-counter-btn btn col-sm-4" type="submit">Update</button>
                    </div>
                <h5 class="form-total-count">Total: <span class="total-count-span">1584635653</span></h5>
            </div>
        </form>
            </div>
        </div>