{% extends 'base.html' %}
{% load static %}

{% block content %}

    <title>Dashboard</title>

    <div class="container-fluid dashboard--panel content--panel">
        <div class="row main-row">

            {#      Left(desktop) column / Top(mobile) column      #}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">

                <section class="">

                    <div class="row cards-row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 card-col">
                        <div class="card left">
                            <div class="card-content my-auto">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="text-left icon-container left-container mx-3 my-auto">
                                            <i class='bx bx-map-pin left--icon card--icon my-auto'></i>
                                        </div>
                                        <div class="media-body text-left">
                                            <p class="card-detail my-auto">{{ building.street_name.capitalize }}</p>
                                            <h6 class="card-title my-auto">Street Address</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 card-col">
                        <div class="card center">
                            <div class="card-content my-auto">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="text-left icon-container center-container mx-3">
                                            <i class='bx bxs-direction-left center--icon card--icon my-auto'></i>
                                        </div>
                                        <div class="media-body text-left">
                                            <p class="card-detail my-auto">{{ building.street_number }}</p>
                                            <h6 class="card-title my-auto">Street Number</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 card-col">
                        <div class="card right">
                            <div class="card-content my-auto">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="text-left icon-container right-container mx-3">
                                            <i class='bx bxs-city right--icon card--icon my-auto'></i>
                                        </div>
                                        <div class="media-body text-left">
                                            <p class="card-detail my-auto">{{ building.city.capitalize }}</p>
                                            <h6 class="card-title my-auto">City</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="row cards-row mt-4">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 card-col">
                        <div class="card left">
                            <div class="card-content my-auto">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="text-left icon-container left-container mx-3 my-auto">
                                            <i class='bx bxs-map-alt left--icon card--icon my-auto'></i>
                                        </div>
                                        <div class="media-body text-left">
                                            <p class="card-detail my-auto">{{ building.county.capitalize }}</p>
                                            <h6 class="card-title my-auto">County</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 card-col">
                        <div class="card center">
                            <div class="card-content my-auto">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="text-left icon-container center-container mx-3">
                                            <i class='bx bxs-coin-stack center--icon card--icon my-auto'></i>
                                        </div>
                                        <div class="media-body text-left">
                                            <p class="card-detail my-auto">{{ building.apartments_capacity }}</p>
                                            <h6 class="card-title my-auto">Capacity</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 card-col">
                        <div class="card right">
                            <div class="card-content my-auto">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="text-left icon-container right-container mx-3">
                                            <i class='bx bxs-group right--icon card--icon my-auto'></i>
                                        </div>
                                        <div class="media-body text-left">
                                            <p class="card-detail my-auto">{{ available_apts }}</p>
                                            <h6 class="card-title my-auto">Available</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="row table-row">
                        <div class="table-content mt-4">
                            {% include 'building/tables/dashboard_table.html' %}
                        </div>
                    </div>



                </section>

            </div>

            {#      Right(desktop) column / Next(mobile) column      #}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <section class="row analytics-row">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                                <div class="card-content my-auto">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-body text-center">
                                                Analytics graph here
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>


                    <div class="row mt-4">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="card">
                                <div class="card-content my-auto">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-body text-center">
                                                <i class='bx bx-water index-icon hot-water-icon'></i>
                                                <h6 class="index-title">Hot Water</h6>
                                                <p class="m-0 index-counter">542368</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="card">
                                <div class="card-content my-auto">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-body text-center">
                                                <i class='bx bx-water index-icon cold-water-icon'></i>
                                                <h6 class="index-title">Cold Water</h6>
                                                <p class="m-0 index-counter">542368</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="card">
                                <div class="card-content my-auto">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-body text-center">
                                                <i class='bx bxs-gas-pump index-icon gas-power-icon'></i>
                                                <h6 class="index-title">Gas Power</h6>
                                                <p class="m-0 index-counter">542368</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="card">
                                <div class="card-content my-auto">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-body text-center">
                                                <i class='bx bxs-sun index-icon heating-power-icon'></i>
                                                <h6 class="index-title">Heating Power</h6>
                                                <p class="m-0 index-counter">542368</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>

                </section>
            </div>

        </div>
    </div>

{% endblock content %}